script: script/cibuild
cache: bundler
language: ruby
sudo: false

rvm:
  - &ruby1 2.4.0
  - &ruby2 2.3.3
  - &ruby3 2.2.6
  - &ruby4 2.1.9
  - &jruby jruby-9.1.7.0

matrix:
  include:
    - rvm: *ruby1
      env: TEST_SUITE=fmt
    - rvm: *ruby1
      env: TEST_SUITE=test-site
  exclude:
    - rvm: *jruby
      env: TEST_SUITE=cucumber

env:
  matrix:
    - TEST_SUITE=test
    - TEST_SUITE=cucumber

before_install:
  - gem update --system
  - gem --version
